.image-block {
	
	background-image: url('https://sun9-16.userapi.com/impg/AGVNmwCs3e9cCPOtJKEufhTw-jbqSh0tZqscdQ/eBKleK88ziY.jpg?size=2560x1440&quality=95&sign=0d6f6f75df4518150f6bf55bf9800e09&type=album');
	background-position: center center !important;
	background-repeat: no-repeat;
	background-size: 1920px 1080px;
	width: 100%;
	height: 600px;
	background-size: cover;
  background-attachment: fixed;
}

.main-container {
	position: relative;
}

.top-input {
	position: absolute;
	bottom: -20px;
	-webkit-box-shadow: 0px -37px 10px 6px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0px -37px 10px 6px rgba(34, 60, 80, 0.2);
	box-shadow: 0px -7px 10px 6px rgba(139, 139, 139, 0.2) !important;
}

@media (max-width: 1224px) {
	.filtre-container {
		flex-direction: column;
		gap: 10px;
	}
	.top-input {
		width: 50%;
	}
}