:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #000;
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

a {
  font-weight: 500;
  text-decoration: inherit;
  transition: all 250ms;
}
a:hover {
  color: #646cff;
}

*, *:after, *:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button,.btn {
  border-radius: 8px;
  border: 1px solid #646cff;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.33s;
  user-select: none;
}
button:hover, .btn:hover {
  border-color: #646cff;
  background-color: #646cff;
  color: #fff;
}

input, textarea, select, Select {
  /* border-radius: 8px; */
  border: 1px solid #646cff;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #fff;
  outline: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 50px #fff !important; /* Цвет фона */
  -webkit-text-fill-color: #000000 !important; /* цвет текста */
  color: #000000 !important; /* цвет текста */
}

label {
  font-weight: 700;
  font-size: 22px;
  margin-top: 13px;
  margin-bottom: 4px;
}